.dropDown-menu{
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  width: 268px;
  margin-top: 10px;
  box-shadow: 0 30px 70px 0 rgba(41, 41, 43, 0.1)
}

.dropdown-item{
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  list-style: none;
}

.navbar-items{
  font-size: 16px;
  color: #5e709d;
  font-weight: 400;
  letter-spacing: 0.2px;
  vertical-align: baseline;
  font-family: inherit;
}

.navbar-items:hover{
  color: #26256c;
}
.navbar{
  margin-top: 20px !important ;
  justify-content: center !important;
}
.navbar-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.navbar-nav{
  display: flex !important;
  justify-content: space-between !important;
}

.navBar-collapse{
  width: 70%;
 }

.footer{
  position:absolute;
  bottom:0;
  height: 100px;
  left: 0;
  right: 0;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
}




