

.section-margin-6{
  margin-top: 6% !important;
}

.section-margin-10{
  margin-top: 10% !important;
}

.section-padding{
  padding-top: 2% !important;
}

.section-padding-y{
  padding-top: 1em;
  padding-bottom: 4em;
}
.dropDown-menu {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  width: 268px;
  margin-top: 0px;
  box-shadow: 0 30px 70px 0 rgba(41, 41, 43, 0.1)
}

.dropdown-item {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  color: #5e709d !important;
  padding-top: 10px;
  padding-bottom: 10px;
}



.dropdown-title {

  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-li {
  list-style: none !important;
  display: flex !important;
  justify-content: center !important;
}

.navbar-items {
  font-family: "Raleway", Sans-serif !important;
  font-size: 16px;
  color: #5e709d;
  font-weight: 400;
  letter-spacing: 0.2px;
  vertical-align: baseline;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-items:hover {
  color: #26256c;
}

.navbar {
  margin: 0px !important;
  padding-top: 20px !important;
  justify-content: center !important;
  position: sticky;
  top: 0%;
  background-color: white;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
  transition: all ease 0.4s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px !important;
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.navbar-brand {
  display: flex !important;
  align-items: flex-start;

}

.navBar-collapse {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
}

.navbar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 30px;
}

.footer {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #181236 !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
}

.main-btn {
  background-color: #05f2f2 !important;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 30px;
  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;
  color: #1c1735 !important;


}

.marginRight {
  margin-right: 10px !important;
}

.navbar-items-container>a, .dropdown-a {
  position: relative !important;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.navbar-items-container>a:after,  .dropdown-a::after {
  content: "" !important;
  position: absolute !important;
  width: 0% !important;
  height: 1px !important;
  display: block !important;
  transition: all 0.3s ease !important;
  bottom: -10%;
  left: 0%;

}

.navbar-items-container>.nav-items:hover::after, .dropdown-a:hover::after {
  width: 100% !important;
  height: 2px !important;
  background-color: #05f2f2 !important;
}




.footer-link>.nav-items {
  position: relative !important;
  transition: all ease 0.3s !important;
  padding-bottom: 2px !important;

}

.footer-link>.nav-items::after {

  content: "" !important;
  position: absolute !important;
  width: 0% !important;
  height: 1px !important;
  display: block !important;
  transition: all 0.3s ease !important;
  bottom: 0%;
  left: 0%;
}

.footer-link>.nav-items:hover::after {
  width: 100% !important;
  height: 2px !important;
  background-color: #05f2f2 !important;
}

.animated-button {
  position: relative !important;
  transition: .2s transform ease-in-out !important
}

.copyright-text {
  color: #aeaeae;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.copyright {
  background-color: #121332;
  border-top: 1px solid #232649;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.widget-title {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  margin: 18px 0 36px !important;
  color: #fff !important;
  font-weight: 400 !important;
  line-height: 1.235 !important;
}

.widget-item-font {
  color: #8998c2 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: none !important;
  font-style: normal !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.mobile-nav-container {
  position: fixed;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 100;
  bottom: 0%;
}

.mobile-nav-item-container {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0%;
  background-color: #24243b;
  z-index: 9999;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: start;



}

.mobile-nav-header {
  padding: 40px !important;
}

.close-btn {
  position: fixed;
  z-index: 9999;
  right: 0;
  color: #fff;
  font-size: 30px;
  margin: 10px;
}

.mobile-nav-content {

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: auto;

}

.mobile-nav-item-font {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: none !important;
  font-style: normal !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}

.mobile-nav-item,
.mobile-nav-header {

  padding: 5px 40px 5px 40px;
  border-bottom: #37374d solid 1PX;
}

.container-fluid {
  padding: 0% !important;
}

.site-padding {
  padding-right: 20% !important;
  padding-left: 20% !important;
}

.highlight-spot {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 3px solid #fff;
  cursor: pointer;
  background-color: #05f2f2;

}

.highlight-spot:hover {
  cursor: pointer;
}

.highlight-spot:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  pointer-events: none;
  content: "";
  display: block;
  width: 26.4px;
  height: 26.4px;
  border-radius: 100%;
  border: 1px solid #05f2f2;
  transition: border-color 1s linear;
  animation: icon-pulse 2s linear infinite;
}

.hotspot-image {
  width: 100%;
  height: auto;
}

@keyframes icon-pulse {

  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }

  20% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
    opacity: 0.9;
  }

  50% {
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }
}

.center-y {
  transform: translateY(-50%);
}

.center-x {
  margin: 50 auto;
}

.sectors {
  top: 45%;
  left: 13%
}

.businesses {
  top: 61%;
  left: 12%
}

.data {
  top: 74%;
  left: 16%
}

.technology {
  top: 87%;
  left: 19%
}

.data-center {
  top: 51%;
  left: 45.4%
}

.data-end {
  top: 36.5%;
  left: 83%
}

.card-title {
  color: #181236;
  margin-bottom: 13px;
  line-height: 44px;
  font-family: "Raleway", Sans-serif;
  font-size: 42px;
  font-weight: 700
}

.card-content {
  color: #3C4043;
  font-family: "Raleway", Sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 70px;
  font-size: 18px;

}

.siteHeader {
  background-color: #181236;
  height: 600px;
  background-image: url("/Silhouette-Home.png");
  background-repeat: no-repeat;
}

.silhouette-home {
  position: absolute;
  height: 600px;
  width: 1396px;
  left: 10%;
}

.silhouette-title {
  position: absolute;
  top: 20%;
  left: 40%;
}

.backgroundColor {
  background-color: #181236;
}

.icon {
  margin-right: 10px !important;
}


@media only screen and (max-width: 1280px) {
  .sliderstyle{
 
    padding-top: 8rem!important;
  }
  .Silhouette-image{
    
    position: absolute !important;
    left: 10% !important;
    bottom: 0 !important ;
    width: 69% !important;
  }
  .content-image {
    top: 142% !important;
    left: 45% !important;

  }

  .site-padding {
    padding-right: 10% !important;
    padding-left: 10% !important;
  }
}

.carousel-text {
  position: absolute !important;
  top: 15% !important;
  right: 40%;
}

.carousel-image {

  position: absolute;
  top: 15%;
  left: 0%;
  height: 85%
}

.carousel-item {
  height: 500px !important;
}

.carousel {
  z-index: -1;
  padding-right: 20% !important;
  padding-left: 20% !important;

}

.handBackground {
  background-image: url('/hands.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bulleBackground {
  background-image: url('/Bulle-Home.png');
  background-repeat: no-repeat;
  background-position: center;
}

.img {
  position: relative;
  width: 400px;
  height: 400px;
}

.main-image {

  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img:hover .main-image {
  opacity: 0.3;
}

.img:hover .image-middle {
  opacity: 1;
}

.image-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #181236;
}

.height-l {
  min-height: 800px !important;
}

.btn-absolute {
  position: absolute !important;
  right: 30%;
  bottom: 45%;
}

.card-absolute {

  position: absolute;
  top: 15%;
  left: 20%;
}

.imagine-image {
  width: 100% !important;
  height: auto !important;
  left: 0;
  right: 0;
  bottom: 10%
}

.talent-image {
  width: 100%;
  height: auto;
}

.bulle-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0%;
  left: 60%;

}

.contact-us-home {
  position: relative;
  min-height: 500px;
}

.contact-us-home-card {
  height: auto;
  position: absolute;
  top: 20%;
  left: 20%;
}

.contact-us-section-btn {
  position: absolute !important;
  bottom: 45%;
  left: 32%;
}

.hands-home {
  width: 65%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  
  .buttonSlider{ 
    z-index: 9; 
    font-family: Raleway;
    color: rgb(24, 18, 54);
    text-decoration: none;
    white-space: normal;
    width: 117px !important;
    height: 34px !important; 
    line-height: 31px!important; 
    letter-spacing: 0px !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    padding-left: 11px;
    border-radius: 22px;
    padding-right: 11px;
    backdrop-filter: none; 

    margin-top:10%   !important ;
    
   
   
  }
  .footprint {
    padding-left: 10%!important; 
    padding-bottom: 10rem;
    padding-top: 13% !important;
}
  .slidertitle>div>h1 {
    font-family: "Raleway", Sans-serif !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    color:  white;
    margin-bottom: 0 !important;
   
  }

  .slidercontent>div>span {
    text-align: left !important;
    line-height: 22px !important;
    letter-spacing: 0px !important; 
    font-size: 21px !important;
    font-family: "Raleway", Sans-serif !important; 
    color:  white; 
    text-decoration: none;
    white-space: normal; 
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    font-weight: 500 !important;
  }
  .sliderstyle{
 
    padding-top: 1rem!important;
  }
  .Silhouette-image {
    position: absolute !important;
    left: -46% !important;
    bottom: 0!important;
    width: 122% !important;
}

  .grid-gap{

    gap: 60px !important;
  }

  .gap-0{
    gap: 0px !important
  }
  .sectionourvalues {
    background-color: white !important;


  }

  .contact-us-home {
    min-height: 500px !important;
  }

  .contact-us-home-card {

    top: 0% !important;
    left: 10% !important;
  }

  .contact-us-section-btn {
    bottom: 5%;
    left: 30%;
  }

  .bulle-image {
    width: 40% !important;
    height: auto;
    position: absolute;
    top: 45% !important;
    left: 30% !important;

  }

  .carousel-image {
    left: -50% !important;

  }

  .carousel-item {
    min-height: 391px !important;
  }

  .carousel-text {

    top: 20% !important;
    right: 20%;
  }

  .carousel {
    padding-right: 0% !important;
    padding-left: 0% !important;
  }

  .card-absolute {
    top: 15%;
    left: 10%;
  }

  .talent-image {
    width: 80%;
    height: auto;
  }


  .btn-absolute {
    position: absolute !important;
    right: 20%;
    bottom: 5%;
  }

  .height-l {
    min-height: 500px !important;
    padding: 10px !important;
  }

  .imagine-image {

    bottom: 25%;
  }

  .site-padding {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }



  .bulle-image {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 25%;

  }

  .contact-us-home {
    position: relative;
    height: 600px;
  }

  .contact-us-home-card {
    height: auto;
    position: absolute;
    left: 0%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 600px) {

 

  .card-absolute{
    left: 5% !important
  }

  .btn-absolute{

    top: 50%;
    right: 100%;
  }


  .contact-us-home-card {
    height: auto;
    position: absolute;
    left: 0%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  
  .text-ourdna {}


  .contact-us-home-card {
    height: auto;
    position: absolute;
    left: 0%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  
  .text-ourdna {}

  .contact-us-home {
    position: relative;
    min-height: 300px !important;
  }

  .contact-us-home-card {

    top: 15% !important;
    left: 5% !important;
  }

  .contact-us-section-btn {
    bottom: 10%;
    left: 20%;
  }

  .bulle-image {
    width: 30% !important;
    height: auto;
    position: absolute;
    bottom: 30% !important;
    left: 60% !important;

  }


  .btn-absolute {
    position: absolute !important;
    right: 20%;
    bottom: 40%;
  }

  .height-l {
    min-height: 500px !important;
  }


  .carousel-text {

    top: 20% !important;
    right: 30%;
  }

  .carousel-image {
    left: 0% !important;

  }

  .carousel-item {
    height: 391px !important;
  }

  .carousel {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

}

@media only screen and (max-width: 992px) {

  .highlight-spot {
    width: 18px;
    height: 18px;
  }

  .sectors {
    top: 41%;
    left: 12%
  }

  .businesses {
    top: 60%;
    left: 12%
  }

  .data {
    top: 73%;
    left: 15%
  }

  .technology {
    top: 87%;
    left: 19%
  }

  .data-center {
    top: 50%;
    left: 45.5%
  }

  .data-end {
    top: 32.5%;
    left: 81.5%
  }

  .navbar-container {
    width: 100%;

  }

  .dropDown-menu {
    position: static;
    width: 100%;
    margin: 0%;
    padding-left: 0% !important;
  }

  .dropDown-menu>li:not(:last-child) {
    border-bottom: #37374d solid 1PX;
  }

  .dropdown {
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    cursor: pointer;

  }

  .dropdown-item-border>li:not(:last-child) {
    border-bottom: #37374d solid 1PX;


  }


  .dropDown-menu {
    background-color: #28283f;
  }

  .dropDown-toggle {
    padding: 5px 10px 5px 40px !important;
  }

  .site-padding {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .dropdown-item {
    padding: 0px 40px 0px 40px !important;
    color: #cfcfd4 !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;

  }

  .dropdown-item:hover {
    color: #94949f;
  }

}
 
.contentPage {
  background-color: white;
  padding-left: 10px;
  margin-top: 150px !important;
}

.gridstyle {
  background-color: #28283f;
}

.left-border {
  border-left: 0.4rem solid #1EEDE2;
  border-left: 0;
}



ul.bullet-before li {
  font-family: "Raleway", Sans-serif !important;
  font-weight: 300 !important;
  /* content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; */
}


.flech {
  height: 42rem;
}


.btn-footer {
  margin: auto;
  text-align: center;
  width: fit-content;
}

.footerPageOurorigin {
  padding: 50px;
  color: white;
  background-color: #181236;
  padding-left: 10px;
}

.container {
  display: flex;
  overflow: auto;
  position: relative;
}

.image-container {
  position: fixed;
  left: 0;
  top: 0;
}

.content-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}


.item {
  display: flex;
  padding: 50px;
  margin: 10px;
}

.meta {
  margin-right: 5px;
  position: sticky;
  top: 10px;
  align-self: flex-start;
}

.sub-item-container {
  background-color: yellow;
  display: flex;
  flex-flow: wrap;
}

.sub-item {
  background-color: blue;
  height: 200px;
  width: 150px;
  margin: 5px;
}

.image {
  height: 100%;
  width: 300px;
}

.imagemobile {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.menaps-group-text {
  padding-left: 5%
}

.image-menaps-group {
  height: 100%;
  width: 300px;
  border-left: 0.4rem solid #1EEDE2;
  padding-left: 18px;
}

.image-star {
  position: absolute;
  right: 3%;
  top: 9%;
}

.left-border {
  border-left: 0.4rem solid #1EEDE2;
  padding-left: 18px;
}

.content-image {
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 15px;
  z-index: 10;
}

@media only screen and (max-width: 1000px) {
  .content-image {
    background-color: red;
    display: none !important;

  }
}

@media only screen and (max-width: 600px) {
  .text-ourdna-mobile {
    border-left: 0.4rem solid #1EEDE2 !important;
    padding-left: 18px !important;
    height: 60%;
  }

  .image-menaps-group {
    height: 100%;
    width: 200px;
    border-left: 0 !important;
    padding-left: 0 !important;
    margin: 0 auto !important;
    display: block;

  }

  .content-ourvalues {
    background-color: #181236;
    margin: 20px;

  }

  .button-width {
    width: 75% !important;
  }

  .hamdietmajd {
    margin-top: 6% !important;
    margin-left: 16% !important;
    width: 63% !important;
  }

  .section2--ourdna_button {
    font-size: 13px !important;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500 !important;

  }

  .ourvaluesimage {
    width: 80% !important;
    margin-top: 100px !important;
    margin: 0 auto !important;
    display: block;
  }
}

.button-width {
  margin: 0 auto;
  height: auto !important;
  padding: 10px;
  width: 25%;
}

.text-content {

  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;
  padding-left: 1.9rem !important;
}

.text-ourdna {
  font-size: 16px;
  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;
  padding-left: 1.9rem !important;
}

.section2-ourdna {
  margin-top: 160px !important;
  color: white;

}

.section2--ourdna_button {
  height: auto !important;
  font-family: "Raleway", Sans-serif !important;
  font-weight: 600;

}

.centre {
  display: block !important;
  margin: 0 auto !important;

}

.hamdietmajd {
  margin-top: 6%;
  margin-left: 27%;
  width: 63% !important;
}

.OurValuesheader>* {

  font-family: "Raleway", Sans-serif !important;
  font-weight: 800 !important;

}

.OurValuesheadertext {
  font-size: 19px;
  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;
  padding-left: 1.9rem !important;
}

.ourvaluesimage {
  width: 50%;
  margin-top: 100px !important;
  margin: 0 auto !important;
  display: block;
}

.sectionourvalues {
  background-color: #181236;
  margin-top: 100px !important;
  margin-bottom: 100px !important;


}

.headercontetn {
  font-family: "Raleway", Sans-serif !important;
  font-weight: 800 !important;
  line-height: 1.2;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  

}

.contentourvalues {

  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;


}

.content:hover {
  background-color: white;
  color: black;
  border-top: 10px solid #1EEDE2;
  height:100%;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:20px; }
.dropdown-menu{
  min-width: 268px;
  width: auto;
  left: 0;
  background-color: transparent;
  border: none;
}
.subdropdown-menu{
  margin-top: 40px !important;
  background-color: #fff;
  font-size: 16px;
  color: #5e709d;
  display: block;
  width: 268px !important;
  transition: 0.5s;
  transition-delay: 0s;
  transition-delay: 0s;
  box-shadow: 0 30px 70px 0 rgba(41, 41, 43, 0.1)
  
}
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {}

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 20px;
  }

  .dropdown-menu {
    width: 200px;
  }
.dropdown-item:hover {

  background-color: transparent;
}


.subdropdown-menu li a{
  position: relative;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #5e709d;
  padding: 11px 30px;
  display: block;
  transition: 0.5s;
  transition-delay: 0s;
  transition-delay: 0s;
  line-height: 28px;
}

.subdropdown-menu li{
  border-bottom: 1px solid #f8f9fa !important;
}

.subdropdown-menu li a::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #eff5fb ;
  transition: width 0.5s cubic-bezier(0.35, 0.7, 0.35, 1) 0s;
  z-index: -1;
}

.subdropdown-menu li:hover a::after {
  width: 100% !important; 
}



}

.textstyle>div>h1 {
  font-family: "Raleway", Sans-serif !important;
  font-weight: 900 !important;
  color: #181236;
  font-size: 42px !important;
  line-height: 36px;


}

.HeaderPage>div>h1 {
  font-family: "Raleway", Sans-serif !important;
  font-weight: 700 !important;
  font-size: 42px !important;
  color: #181236;
  font-weight: bold;
}

.main-wrapper{
  width: 1170px;
  margin: 0 auto;
  max-width: 90%;

}
.content-ourvalues {
  width: 20%;
  margin: 10px;
  padding-right: 1.25rem!important;
  padding-left: 1.25rem!important;
  
}
.slidertitle>div>h1 {
  font-family: "Raleway", Sans-serif ;
  font-weight: 500  ;
  font-size: 50px  ;
  color:  white;
 
}

.slidercontent>div>span {
  font-family: "Raleway", Sans-serif  ;
  font-weight: 500  ;
  font-size: 30px  ;
  color:  white;
  font-weight: bold;

 
  text-decoration: none;
  white-space: normal;

  text-align: justify;
  line-height: 39px;
  letter-spacing: 1px;

  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}
.Silhouette-image{
  position: absolute;
  left: 18%  ;
  bottom: 0 ;
  width: 53%;
}
 
 
.slider-container{
 
 
}
.sliderstyle{
  position:relative;
  padding-top: 10rem ;
}
.buttonSlider{ 
  margin:0 auto  ;
  display: block !important;  
  width: 45%;
  height: auto;
  line-height: 58px;
  font-size: 17px;
  border-radius: 22px;
 
  border-width: 0px;
}
 

.slidercontent  {
  font-family: "Raleway", Sans-serif !important;
  margin-bottom: 1.5rem!important;
  
}

.footprint   {
padding-bottom:10rem;
  
}

.master-button{
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #05f2f2 !important;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  letter-spacing: 0.2px;
  border-radius: 30px;
  font-family: "Raleway", Sans-serif !important;
  font-weight: 500 !important;
  color: #1c1735 !important;
}

.master-button a{
  color: #1c1735 !important;
  font-family: "Helvetica", Sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
}

.master-button .hover-effect {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  background-color: #1c1735 !important;
  z-index: -1;
  border-radius: 100%;
  left: 97.6167px;
  top: 30.5px
}

.master-button:hover .animated-link {
  color: #ffffff !important;
}

.master-button:hover .hover-effect{
  width: calc(100% * 2.25);
  padding-top: calc(100% * 2.25);
}

.btn-padding{
  padding: 30px 40px 30px 40px;
}

.btn-padding-m{
  padding: 25px 40px 25px 40px;
}


.btn-style{

  background-color: #05F2F2;
  border-radius: 19em 19em 19em 19em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style a{

  font-family: "Raleway", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #0C0560;
  color: #0C0560;
}