@import "/globals2.css";


@media only screen and (max-width: 600px) {
  .textexperience{
    margin: 0% 5%;
    line-height: 18px;
    margin-bottom: 11%;
    text-align: justify;  
  }
  .text2imagine {
    margin: 10% 5%!important;
    font-family: "Raleway", Sans-serif;
    color: #3c4043;
    text-align: justify;
    font-weight: 500;
}
  .image-starour-dna2 {
    position: absolute!important;
    right: 58%!important;
    top: 24%!important;
}


  .btncontact2{
    margin-top: -2%!important;
    margin-left: 24%!important;
    height: auto !important;
    padding: 10px !important;
    width: 37%!important;
  }
  .btncontact {
    margin-top: 2 !important;
    margin-left: 9% !important;
    height: auto !important;
    padding: 27px !important;
    width: 40% !important;
}
  .gridform{
    width: 100%!important;
    }
  .bloc2{ margin-top: 10%;}
  .iframesection {
    margin-bottom: 100% !important;

  }

  .iframe {
    width: 90%;
     
    height: 700px;
  }

  .rendezvoustitle {
    text-align: center;
    width: 100% !important;
    font-size: 30px !important;
    margin-bottom: 10% !important;
    font-weight: 400 !important;
  }

  .img2expertise {
    display: block !important;
    ;
    margin: 0 auto !important;
    ;
  }

  .contentexpertise {
    color: #5E626C;
    width: 100% !important;
    text-align: justify;
  }

  .containerbtn {
    margin-left: 17% !important;
    margin-bottom: 11% !important;
  }

  .bluebloc {
    width: 85%;
    margin-right: auto!important;
    margin-left: auto!important;

  }

  .list-container {
    display: block !important;
  }

  .list-item {
    flex-basis: 100% !important;
  }

  .damient-desc {
    font-size: 15PX;
    line-height: normal;
  }

  .textheaderdamien {
    font-size: 20px !important;
    color: black;
    margin: 0% 5% 5%;
    font-weight: 500;
    font-family: "Helvetica", Sans-serif;
    text-align: center;
  }

  .leftblocimagine {
    margin: 0% 3%;
  }

  .damient-desc {


    text-align: justify;
    width: 100% !important;

  }

  .damien-img {
    margin: 0 auto;
    display: block;
  }

  .textdamien {
    margin: 0% 8% 13% 6% !important;
    text-align: center;
    color: #181236;
    font-family: "Helvetica", Sans-serif;
    font-size: 25px !important;
    font-weight: normal;
    line-height: 0.3em;
    letter-spacing: 0px;
    word-spacing: 0em;
  }

  .card-img-top {
    width: 20% !important;
  }

  .cardscroll {
    margin: 30% 0% !important;

  }

  .item {
    display: block !important;
  }

  .meta {
    margin-right: 5px;
    position: relative !important;
    top: 110px;
    align-self: none !important;
  }

  .scrollmobile {
    margin-top: 52%;
  }

  .qouiItem {
    padding-bottom: 10%;
    margin-bottom: 10%;
    height: 116px;
    margin-left: 7% !important;
    margin-right: 7% !important;

  }

  .qouiItemtext {
    margin: 8% 17px !important;
  }

  .fleche-blog {
    width: 12% !important;
    height: auto !important;
    right: 34% !important;
    bottom: 88% !important;
  }

  .cardClass {
    margin: 10% 0;
  }

  .flex-wrap-our-values {
    margin-top: 20px !important;
    flex-wrap: wrap !important;
  }

  .ourvaluesimagesection {
    margin-top: 0;
    margin-bottom: 0;

  }


  .gallerywallaper {
    padding-left: 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;


  }

  .HeaderPage>div>h1 {
    font-family: "Raleway", Sans-serif !important;
    font-weight: 700 !important;
    font-size: 28px !important;
    color: #181236;
    font-weight: bold;

  }

  .fleche-vse-sme-solutions {
    width: 19% !important;
    right: 81% !important;
    bottom: 95% !important;
    height: 16% !important;
  }

  .icone-tpe-pme-intro {
    width: 41% !important;
    right: 28% !important;
    bottom: -9% !important;

  }

  .vesfirstblock {
    padding-bottom: 15% !important;
    padding-top: 5% !important;
  }

  .areasofintervention {
    margin-top: 21% !important;
    padding-bottom: 5% !important;
  }

  .textvse {

    font-weight: 300 !important;
  }

  .fleche-bottom {
    right: -2% !important;
    bottom: -16% !important;
    height: 22% !important;
  }

  .etoile-solution {
    right: 13% !important;
    bottom: 57% !important;
    width: 28% !important;
    height: 28% !important;
  }

  .fleche-solution {
    right: 23% !important;
    ;
    bottom: 82% !important;
    width: 23% !important;
    height: 24% !important;
  }

  .Nosdomaines {
    text-align: center;
    font-family: "Raleway", Sans-serif;
    padding-left: 0% !important;
  }

  .pool {
    width: 1079px !important;
    right: 5% !important;
    bottom: -16% !important;
    height: 19% !important;
    color: black !important;
  }

  .btnimagine {
    left: 23% !important;
    bottom: 4% !important;
  }
  .imgflech2 { 
    width: 98%!important;
  
  }
  .imgflech2container {
    top: -43%!important;
    height: 52%!important;
    width: 29%!important; 
    left: 55%!important;
  }
  .joinus{
    margin: 20% 10% 0% 10% !important;
    position: relative;
  
  }
}



/* ---------------------------------------------- */
@media only screen and (max-width: 1280px) and (min-width: 1271) { 
 
  .cadreimg {
    position: absolute!important;
    left: 3%!important;
    height: 79%!important;
    width: 37%!important;
    bottom: 4%!important;
}
  .pool {
    width: 1052px!important;
    right: 7%!important;
    bottom: -40%!important;
    height: 33%!important;
    color: black!important;
  
  }
  .btnimagine {  
    bottom: 18%!important; 
  }
  .textpool {
    margin: 6% 10px!important;
  }
}
/* ---------------------------------------------- */
.flex-wrap-our-values {
  flex-wrap: nowrap;
}

.ourvaluesimagesection {
  margin-top: 200px;
  margin-bottom: 200px;

}

.gallerywallaper {
  padding-top: 5%;
  padding-bottom: 10%;
  margin-top: 10%;
  margin-bottom: 10%;


}

.blogHeader {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../public/digital-solution.png');
  background-position-x: 100%;
  background-position-y: 100%;

  background-size: cover;
  background-position: center center;
  height: 35vh;
}

.category>li>a {
  color: #181236b0;
  font-family: "Raleway", Sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;

}

.category>li::marker {

  color: #5E626C;
  /* Change the color of the marker to red */

}

.category>li>a:hover {

  color: black;
  /* Change the color of the marker to red */

}

.categoryTitle {
  font-family: "Raleway", Sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #5e626c;
  margin: 10% 0%;
}

.categoryContent {
  margin: 25px 0 !important;
  font-family: "Raleway", Sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1.5em;
  font-size: 14px;
  color: #777;



}



.secltion-expbg2 {
  position: absolute;
  z-index: 0;
  margin: 4% 0 0 17%;
}

.secltion-expbg2 img {
  width: 110%;
}

.mainindex {
  z-index: 3;
}

.blogHone {

  color: #FFFFFF;
  font-family: "Raleway", Sans-serif;
  font-weight: 600;
  top: 40% !important;
  font-size: 48px;
  position: relative;
}

.blogtitle {
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #18123694;
  /* opacity: 0.65; */
  height: 100%;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.readmore {
  font-size: 12px;
  font-weight: 500;
  color: #D79B54;
  font-family: "Raleway", Sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
}

.cardClass {}

.cardstyle {
  position: relative;
}

.textstyleblog {
  font-weight: 500;
  font-family: "Raleway", Sans-serif;
  font-size: 12px;
  color: white;
  border-radius: 14%;
  position: absolute;
  right: 5%;
  top: 4%; 
  background-color: #D79B54;
  padding: 1% 4%;
}

.addressvalues {
  background-color: white;
  margin-top: 10% !important;
  margin-bottom: 16% !important;


}

.content-location {
  background-color: #fff;
  margin: 15px;

  padding: 0% 1% 0% 1%;
}


.fleche-blog {
  width: 12%;
  height: auto;
  right: 33%;
  bottom: 51%;
}

.fleche-vse-sme-solutions {
  width: 13%;
  right: 76%;
  bottom: 112%;
  height: 77%;
}


.vesfirstblock {
  padding-bottom: 16%;
  padding-top: 5%;

}

.areasofintervention {
  padding-top: 9%;
  padding-bottom: 5%;
}

.icone-tpe-pme-intro {
  width: 20%;
  right: 4%;
  bottom: 5%;

}

.textvse {
  text-align: center;
  padding-bottom: 5%;
  color: white;
  font-family: "Raleway", Sans-serif;
  font-weight: 500;
}

.fleche-bottom {
  right: -2%;
  bottom: -68%;
  height: 62%;
}

.ensavoirplus {
  padding-top: 7%;
  padding-bottom: 5%;
}

.Nosdomaines {
  font-family: "Raleway", Sans-serif;
  padding-left: 73%;
}


.cardsolutions {
  box-sizing: none !important;
}

.cardsolutions:hover {
  border-top: 10px solid #1EEDE2;
  color: white;
  background-color: #181236;
  box-sizing: none !important;
  height: 100%;
  transition: color 0.3s ease-in;
}

.iconsolutions {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.titlesolutions {
  font-family: "Raleway", Sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;

}

.contentsolutions {
  font-size: 18px;
}

.contentcardsolution {
  padding-left: 10%;

}

.etoile-solution {
  right: 9%;
  bottom: 33%;
  width: 17%;
  height: 50%;
}

.fleche-solution {
  right: 22%;
  bottom: 68%;
  width: 17%;
  height: 50%;
}

.logo-imagine-vector {

  display: block;
  margin: 0 auto;
  width: 56%;
}

.section1imagine {
  margin-top: 10% !important;

}

.text1imagine {
  margin: 3% 0%;
  font-weight: bold;
  font-family: "Raleway", Sans-serif;
  color: #3c4043;
  text-align: center;

}

.text2imagine {
  margin: 01% 25% 25% 25%;
  font-family: "Raleway", Sans-serif;
  color: #3c4043;
  text-align: justify;
  /* nice  like word*/
  font-weight: 500;
}

.text3imagine {
  font-family: "Raleway", Sans-serif;
  color: black;
  font-weight: 500;
  text-align: center;
}


.divider {
  position: relative;
  margin: 20px 0;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}

.imagine-section2 {
  margin-bottom: 20%;
  padding: 4% 0%;
}

.main-wrapper2 {
  width: 1079px;
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 5%;
}

.qouiItem {
  background-color: white;
  color: black;

  width: 100%;
  height: 100px;
  text-align: center;



}

.qouiItemtext {

  color: black;
  text-align: center;
  margin: 12% 10px;


}

.pool {
  width: 1079px;
  right: 22%;
  bottom: -40%;
  height: 33%;
  color: black;

}

.textpool {
  text-align: center;
  margin: 8% 10px;
  color: #181236;
  font-family: "Helvetica", Sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2em;
  letter-spacing: -1px;
}

.btnimagine {
  background-color: #181236;
  text-align: center;

  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 30px;
  font-family: "Raleway", Sans-serif;
  font-weight: 500;
  left: 42%;
  bottom: 25%;
  padding: 11px 42px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
}



.btnimagine:hover {
  color: white !important
}

.text-offres {
  color: #181236;
  font-family: "Helvetica", Sans-serif;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: 0px;
  word-spacing: 0em;

}

.cardscroll {
  margin: 30% 0%;

}

.title1-scroll {
  font-family: "Raleway", Sans-serif;
  color: black;
  font-weight: 500;
  text-align: center;
}

.title2-scroll {
  font-family: "Raleway", Sans-serif;
  color: black;
  font-weight: 500;
  text-align: center;
}

.title3-scroll {
  font-family: "Raleway", Sans-serif;
  color: black;
  font-weight: 500;
  text-align: center;
}
.card-img-top-blog {
  width: 100%; 
  margin-right: auto !important;
  margin-bottom: 5% !important;
  margin-left: auto !important;
  display: block;
}
.card-img-top-blog {
  width: 100%; 
  margin-right: auto !important;
  margin-bottom: 5% !important;
  margin-left: auto !important;
  display: block;
}
.card-img-top {
  width: 10%;
  margin-top: 40% !important;
  margin-right: auto !important;
  margin-bottom: 5% !important;
  margin-left: auto !important;
  display: block;
}

.title1-scroll {
  font-size: 20px !important;
  font-weight: 500;
  font-family: "Raleway", Sans-serif;
  margin: 0 0 20px;
}

.title2-scroll {
  font-size: 15px !important;
  font-weight: bold;
  font-family: "Raleway", Sans-serif;
  margin: 0 0 20px;
}

.title3-scroll {
  font-size: 15px !important;
  font-weight: bold;
  font-family: "Raleway", Sans-serif;

}

.content-scroll {
  width: 80%;
  color: #3C4043;
  font-size: 15px !important;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.textdamien {
  text-align: center;
  color: #181236;
  font-family: "Helvetica", Sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2em;
  letter-spacing: 0px;
  word-spacing: 0em;
}

.damien-img {

  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #18123629;
  border-radius: 100px 100px 100px 100px;
}

.damient-desc {


  color: #3C4043;
  font-size: 100%;
  font-weight: 400;
  width: 82%;

}

.damient-title1 {
  margin: 2% 0% 4% 0%;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: -1px;
}

.textheaderdamien {
  font-size: 25px;
  color: black;
  margin: 0% 5% 5%;
  font-weight: 500;
  font-family: "Helvetica", Sans-serif;
}

.bluebloc {
  color: white;
  padding-top: 6%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #1c1735;
}

.text1imagineblocblue {}

.text2imagineblocblue {
  margin-bottom: 5%;
}

.domainelist>li {

  margin-bottom: 3%;

}

.domainelist {
  display: flex;
  flex-wrap: wrap;
}


.list-item {
  flex-basis: 50%;
}


.domainelist>li>a {
  color: #8998C2;
  ;
  font-family: "Raleway", Sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 3%;

}

.domainelist>li::marker {

  color: #5E626C;
  /* Change the color of the marker to red */

}

.domainelist>li>a:hover {

  color: white;
  /* Change the color of the marker to red */

}

.btnimagine2 {
  background-color: #181236;
  text-align: center;

  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 30px;
  font-family: "Raleway", Sans-serif;
  font-weight: 500;

  padding: 11px 42px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
}

.containerbtn {
  margin-left: 41%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.backgroundcolorblue {
  padding: 3% 0% 2% 0%;
  text-align: center;

  color: white;
  background-color: #181236;
}

.backgroundcolorblue>span {
  text-align: center;
  color: #FFFFFF;
  font-family: "Helvetica", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0px;
  word-spacing: 0em;
  padding-left: 5%;
  padding-right: 5%;
}

.title2expertise {
  font-size: 16px;
  color: #5E626C
}

.contentexpertise {
  color: #5E626C;
  width: 85%;
  text-align: justify;
}

.textexpertise {
  text-align: center;
  color: white;
  padding: 5%;
  background-color: #181236;
  margin: 0% 0% 10% 0%;
}

.rendezvoustitle {
  width: 82%;
  font-size: 36px;
  margin-bottom: 10%;
}

.iframe {}

.iframesection {
  margin-top: 10%;
  height: 680px;
}

.bloc1 {
  padding: 0% 10%;
  margin-top: 20%;
  color: white;
}

.contactsection2 {
  position: relative !important;
}

.title1contact {
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.cadreimg {
  position: absolute;
  left: 16%;
  height: 76%;
  width: 29%;
  bottom: 2%;
}

.btncontact {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #D79B54;
  border-radius: 3px 3px 3px 3px;
  padding: 20px 40px 20px 40px;
}

.contactimg {
  left: 18%;
  height: 102%;
  width: 26%;
  bottom: -2%;
}
.title2contact {
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: white; 
  margin-bottom: 10%;
}
.imgflech {
  left: 18%;
  height: 102%;
  width: 26%;
  bottom: -2%;
}
.imgflech2 {
  height: 102%;
  width: 38%;

}
.imgflech2container{
  top: -101%;
  height: 94%;
  width: 28%;
  position: absolute;
  left: 59%;
}
 

.addresses {
  color: white; 
  display: flex;
  flex-wrap: wrap;
}

.address-container {
  color: white; 
  display: flex;
  margin: 10px;
}

.flag {
  color: white; 
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.address-list {
  color: white; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.address-list li {
  color: white; 
  margin-bottom: 5px;
}
.contactflagimg {
  height: 48px;
  width: 48px;
  margin-right: 10px;
  display: block;
}
 
.address-list-item{

}

.gridform{
width: 75%;
}
.joinus{
  margin: 10% 10% 0% 10% ;
  position: relative;

}
.btncontact2{
  margin-top: 2%;
  margin-left: 50%;
  height: auto !important;
  padding: 10px !important;
  width: 19%;
}
 
.star-img {
  width: 89%;
}
.image-starour-dna {
  position: absolute;
  right: 71%;
  top: 110%;
  z-index: 99;
}
.fleche-2-exp{
  height: 50%;
  width: 46%;
}
.image-starour-dna2 {
  position: absolute;
  right: 17%;
  top: 15%;
}

.fleche-3-exp{
  height: 52%;
  width: 62%;
}
.image-starour-dna3 {
  position: absolute;
  right: 49%;
  top: 90%;
}
 
.image-starour-1ourvalues {
  position: absolute;
  right: 17%;
  top: -60%;
}
.fleche-1ourvalues {
  height: 54%;
  width: 79%;
}
.section2contact{
 
  padding-top: 10%; 
  margin-bottom: 10%;
}
.nossecteurs{}
.img2expertise { 
  height: 39px;
}
.width-3buttons-phone { 
  width:30%!important;
}
.width-3buttons-laptop { 
  width: 50%!important;
}


.width-3buttons-large { 
  width: 100%!important;
}